.abd{
    background-color: red;
    width: 100%;
    /* height: 100px; */
    text-align:center;
    padding: 20px;

}
TextField{
    size: medium;
    /* width: 1000px; */
}
table{
    width: 100%;
    border-collapse: collapse;

}
table td {
    border: solid 2px rgb(169, 231, 169) ;
}